body1{
  text-align: right;
  color: #000000;
  background-color: #00000000;
  height: 200vh;
  font-family: "stardom";
}
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: rgb(0, 217, 255);
  text-align: center;

}
.napbar{
    background-color: rgb(224, 117, 138);
}
.topnav {
    background-color: #000000;
    overflow: hidden;
    
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #e6a00a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: rgb(0, 0, 0);
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #000000;
    color: rgb(183, 255, 0);
  }
  
 
.Text{
background-color: #04AA6D;
color: rgb(0, 0, 0);
}
.News{
    background-color: rgb(45, 107, 107);
}
.title{
background-color: rgb(11, 179, 118);
color: rgb(21, 73, 75);

}
.hh{
  display: flex;

}
section{
  height: 100vh;
}
html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: "Stardom" ;
  src: url("../fonts/Stardom-Regular.woff");
}
@font-face {
  font-family: "Stardom";
  src: url("../fonts/Stardom-Regular.ttf");
}
.ggggg{
  background-color: #04AA6D;
  
  left: auto;
}
.title1 {
  background-color: #f7e0e0;
  color: rgb(245, 70, 70);
  
}
.myDiv {
  border: 5px outset red;
  background-color: lightblue;    
  text-align: center;
}