body{
    background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    height: 200vh;
}
.title1 {
    background-color: rgb(0, 0, 0);
    color: rgb(245, 70, 70);
    
}
.hooo{
    color: black;
    background-color: blue;
}